.logo {
  height: 44px;
  margin-top: 8px;
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 55px;
  letter-spacing: -0.012em;
  color: #ffffff;
}

.motto {
  height: 17px;
  margin-top: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.menu-type > p {
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.018em;
  color: #333333;
}

#buttom-rectangle > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.018em;
  color: #ffffff;
}

.image-container img {
  height: 87px;
  width: 144px;
  border-radius: 4px;
  border-style: solid;
  object-fit: cover;
}

.item-title-container p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.item-subtitle-container p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #a6a6a6;
}

.item-price-container p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
