.logo {
  height: 44px;
  margin-top: 8px;
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 55px;
  letter-spacing: -0.012em;
  color: #ffffff;
}

.motto {
  height: 17px;
  margin-top: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.menu-description {
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.018em;
  color: #333333;
  margin-top: 30px;
  margin-bottom: 17px;
}
