.top-header {
  height: 92px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #cf2b2b;
}

.top-header section {
  margin-left: 21px;
  white-space: nowrap;
}

.page-body {
  min-width: 414px;
  width: 100%;
  display: block;
  background-color: #eeeeee;
}

.stack-separator {
  height: 92px;
  width: 100%;
}

.menu-type {
  margin-top: 31px;
  margin-bottom: 17px;
  margin-left: 21px;
}

.menu-container {
  display: flex;
  justify-content: left;
  align-items: center;
  overflow-x: scroll;
}

.item-container {
  box-sizing: border-box;
  height: 216px;
  min-width: 172px;
  margin-left: 21px;
  border-radius: 9px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
}

.image-container {
  height: 87px;
  width: 144px;
  margin-top: 18px;
}

.item-title-container {
  height: 23px;
  width: 144px;
  margin-top: 8px;
}

.item-subtitle-container {
  height: 39px;
  width: 144px;
  margin-top: 4px;
}

.item-price-container {
  height: 19px;
  width: 144px;
  margin-top: 9px;
}

.bottom-menu {
  height: 92px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  background: #ffffff;
}

.buttom-rectangle {
  height: 61px;
  width: 364px;
  border-style: solid;
  border-radius: 50px;
  border-color: #cbcbcb;
  background-color: #cbcbcb;
}
