.top-header {
  height: 92px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #cf2b2b;
}

.top-header section {
  margin-left: 21px;
  white-space: nowrap;
}

.page-body {
  min-width: 414px;
  width: 100%;
  display: block;
  background-color: #eeeeee;
}

.stack-separator {
  height: 92px;
  width: 100%;
}

.menu-type {
  margin-top: 31px;
  margin-bottom: 17px;
  margin-left: 21px;
}

.menu-container {
  display: flex;
  justify-content: left;
  align-items: center;
  overflow-x: scroll;
}

.item-container {
  box-sizing: border-box;
  height: 216px;
  min-width: 172px;
  margin-left: 21px;
  border-radius: 9px;
  border-style: solid;
  border-width: 5px;
  border-color: #ffffff;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
}

/*script will apply this class to selected menu item*/
.highlight-item {
  border-style: solid;
  border-width: 5px;
  border-color: #32b72f;
  box-shadow: 1px 1px 6px 3px rgb(194, 194, 194);
}

.image-container {
  height: 87px;
  width: 144px;
  margin-top: 18px;
}

.item-title-container {
  height: 23px;
  width: 144px;
  margin-top: 8px;
}

.item-subtitle-container {
  height: 39px;
  width: 144px;
  margin-top: 4px;
}

.item-price-container {
  height: 19px;
  width: 144px;
  margin-top: 9px;
  display: flex;
  justify-content: space-between;
}

.bottom-menu {
  height: 92px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  background: #ffffff;
}

#buttom-rectangle {
  height: 61px;
  width: 364px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inactive-buttom {
  border-style: solid;
  border-radius: 50px;
  border-color: #cbcbcb;
  background-color: #cbcbcb;
}

.active-buttom {
  border-style: solid;
  border-radius: 50px;
  border-color: #32b72f;
  background-color: #32b72f;
}

#checkout-modal {
  height: 100%;
  width: 100%;
  top: 0px;
  border-radius: 9px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  position: fixed;
  background: #ffffffa8;
  backdrop-filter: blur(10px);
  z-index: 1;
}

.modal-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-hide {
  display: none;
}

.modal-window {
  height: 353px;
  width: 377px;
  background: #50d074;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#confirm-buttom {
  height: 52px;
  width: 333px;
  left: 24px;
  bottom: 53px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #ffffff;
  border-style: solid;
  border-color: #ffffff;
}

#cancel-buttom {
  height: 52px;
  width: 333px;
  left: 24px;
  bottom: 0px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #50d074;
  border-style: solid;
  border-color: #50d074;
}

.left {
  position: absolute;
  left: 24px;
}

.right {
  position: absolute;
  right: 24px;
}